<a href="https://colab.research.google.com/github/Abhishek-Prajapat/Learning-Ai-from-scratch/blob/master/Amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [2]:
!mkdir .kaggle

mkdir: cannot create directory ‘.kaggle’: File exists

In [0]:
import json
token = {"username":"abhishekprajapat","key":"f8c7968fc7514f21e97a0e9a099be45e"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [4]:
try:
  !cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json
except:
  try:
    !kaggle config set -n path 
  except:
    !cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

finally:
  !kaggle config set -n path

usage: kaggle config set [-h] -n NAME -v VALUE
kaggle config set: error: argument -v/--value is required

In [0]:
!chmod 600 /root/.kaggle/kaggle.json

In [6]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                           title                                                size  lastUpdated          downloadCount
------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
allen-institute-for-ai/CORD-19-research-challenge             COVID-19 Open Research Dataset Challenge (CORD-19)    3GB  2020-06-03 23:32:41          71785
roche-data-science-coalition/uncover                          UNCOVER COVID-19 Challenge                          179MB  2020-05-21 18:57:53          10483
stefanlarson/outofscope-intent-classification-dataset         Out-of-Scope Intent Classification Dataset          285KB  2020-05-15 03:04:34              1
ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney      TV shows on Netflix, Prime Video, Hulu and Disney+   88KB  2020-05-25 15:38:39             12
gomes555/road-transport-brazil                                Road transport dataset in brazil                     62MB  2020-05-26 02:52:34              4
siddharthm1698/coursera-course-dataset                        Coursera Course Dataset                              23KB  2020-05-25 05:52:27             10
yamaerenay/spotify-dataset-19212020-160k-tracks               Spotify Dataset 1921-2020, 160k+ Tracks              17MB  2020-05-25 11:31:07             24
jessicali9530/animal-crossing-new-horizons-nookplaza-dataset  Animal Crossing New Horizons NookPlaza Catalog      577KB  2020-05-18 22:50:26             42
rmjacobsen/property-listings-for-5-south-american-countries   Property Listings for 5 South American Countries    475MB  2020-05-25 02:05:38              1
kianwee/agricultural-raw-material-prices-19902020             Agricultural Raw Material prices (1990-2020)         23KB  2020-05-27 04:51:29              0
ruchi798/movies-on-netflix-prime-video-hulu-and-disney        Movies on Netflix, Prime Video, Hulu and Disney+    627KB  2020-05-22 23:48:01             47
ruchi798/malnutrition-across-the-globe                        Malnutrition across the globe                        79KB  2020-05-25 09:51:45             14
biancaferreira/african-wildlife                               African Wildlife                                    448MB  2020-05-25 13:42:19              2
kushshah95/the-insurance-company-tic-benchmark                The Insurance Company (TIC) Benchmark               262KB  2020-05-27 16:36:41              1
devinaconley/covid19-mobility-data                            COVID-19 Google mobility data                         4MB  2020-06-04 12:15:15              2
jessemostipak/marble-racing                                   Marble Racing                                         4KB  2020-06-02 17:08:53              0
benroshan/factors-affecting-campus-placement                  Campus Recruitment                                    5KB  2020-04-11 11:09:02           5523
bobbyscience/league-of-legends-diamond-ranked-games-10-min    League of Legends Diamond Ranked Games (10 min)     539KB  2020-04-13 13:53:02           2542
fireballbyedimyrnmom/us-counties-covid-19-dataset             US counties COVID 19 dataset                          2MB  2020-06-04 11:17:03           7247
divyansh22/flight-delay-prediction                            January Flight Delay Prediction                      23MB  2020-04-14 13:15:41           1850

In [7]:
! kaggle datasets download -d snap/amazon-fine-food-reviews

amazon-fine-food-reviews.zip: Skipping, found more recently modified local copy (use --force to force download)

In [0]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt

In [0]:
con = sqlite3.connect('./database.sqlite')

In [0]:
raw_data = pd.read_sql_query('''
SELECT * FROM Reviews
''', con)

In [12]:
raw_data.shape

(568454, 10)

In [0]:
data = pd.read_sql_query('''
SELECT * FROM Reviews
WHERE Score != 3''', con)

In [14]:
data.shape

(525814, 10)

In [0]:
def pos_neg(value):
  if value < 3:
    return 'negative'
  elif value > 3:
    return 'positive'
  
actual_score = data['Score']
changed_score = actual_score.map(pos_neg)
data['Score'] = changed_score

In [16]:
data.head()

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...
4   5  ...  Great taffy at a great price.  There was a wid...

[5 rows x 10 columns]

In [0]:
sorted_data = data.sort_values(by = ['ProductId'])

In [0]:
final_data = sorted_data.drop_duplicates(subset = {'UserId', 'ProfileName','Time','Text'})

In [19]:
final_data.shape, sorted_data.shape

((364173, 10), (525814, 10))

In [0]:
final_data = final_data[final_data['HelpfulnessDenominator'] >= final_data['HelpfulnessNumerator']]

In [21]:
final_data.shape

(364171, 10)

# Text Preprocessing:
1.   clean html, punc etc.
2.   lower case
3.   stopwords
4.   stemming

In [0]:
import re
import string
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords

In [23]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [24]:
stop = stopwords.words('english')
print(stop)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [0]:
def cleanhtml(sentence):
  cleanr = re.compile('<.*?>')
  cleaned_sentence = re.sub(cleanr, ' ', sentence)
  return cleaned_sentence

def cleanpunc(sentence):
  cleaned = re.sub(r'[#|:|@|$|!|?|,|\'|"|;|/|\|^|(|)|.]', ' ', sentence)
  return cleaned

In [0]:
sno = SnowballStemmer('english')

In [28]:
filtered_sentence = []
i = 0
positive_words = []
negative_words = []

for sent in final_data['Text'].values:
  sqrl = ''
  filtered_words = []
  sent = cleanhtml(sent)
  sent = cleanpunc(sent)

  for w in sent.split():
    w = w.lower()
    if (len(w)>2) and (w not in stop):
      s = sno.stem(w).encode('utf8')
      filtered_words.append(s)
      if (final_data['Score'].values)[i] == 'positive':
        positive_words.append(s)
      if (final_data['Score'].values)[i] == 'negative':
        negative_words.append(s)
      else:
        continue
    else:
      continue
  
  sqrl = b" ".join(filtered_words)
  filtered_sentence.append(sqrl)
  i += 1

len(filtered_sentence)

364171

In [0]:
final_data['cleaned_text'] = filtered_sentence

In [0]:
conn = sqlite3.connect('./final.sqlite')
c = conn.cursor()
conn.text_factory = str
final_data.to_sql('Reviews', conn, if_exists='replace')

In [0]:
con = sqlite3.connect('./final.sqlite')

In [0]:
data = pd.read_sql_query('''
select * from Reviews''', con)

In [35]:
data.shape

(364171, 12)

In [36]:
data.head()

    index  ...                                       cleaned_text
0  138706  ...  b'witti littl book make son laugh loud recit c...
1  138688  ...  b'grew read sendak book watch realli rosi movi...
2  138689  ...  b'fun way children learn month year learn poem...
3  138690  ...  b'great littl book read aloud- nice rhythm wel...
4  138691  ...  b'book poetri month year goe month cute littl ...

[5 rows x 12 columns]

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect = TfidfVectorizer(ngram_range = (1,2))

In [0]:
final_tfidf = tfidf_vect.fit_transform(data['cleaned_text'].values)

In [41]:
final_tfidf.shape

(364171, 3058839)

In [42]:
features = tfidf_vect.get_feature_names()
len(features)

3058839

In [45]:
features[10000:10010]

['180mg hey',
 '180mg omega',
 '180mg polyphenol',
 '180mg potassium',
 '180mg sodium',
 '180mg total',
 '180ml',
 '180ml batch',
 '180ml caraf',
 '180ml hot']